@model diplom.Models.Content

<h2>Создание записи</h2>

<form asp-action="Create" asp-controller="Content" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Body"></label>
        <textarea asp-for="Body" rows="10" cols="50"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <button type="submit">Сохранить</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}